body {
    color: hsl(212, 62%, 14%);
    width: 960px;
    height: 100%;
    margin: 0 auto;
    font-family: "Gill Sans", sans-serif;;
    line-height: 1.5;
    text-align: justify;
}

* {
    box-sizing: border-box;
}

img {
    border: 0;
}

h1 {
    font-weight: normal;
    margin: 0;
}

h2 {
    font-size: 16pt;
    margin: 30px 0 10px 0;
}

small {
    font-size: 11pt;
}

hr {
    border: 0.5px solid hsl(212, 14%, 28%);
}

#content {
    background: hsl(212, 27%, 95%);
    padding: 30px;
    height: 100%;
}

a, a:visited, a:invalid {
    color: hsl(212, 90%, 65%);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
